{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <div class="container mt-10 mb-10">
    <div class="bg-light p-5 rounded">
        <h1>Delete my Student Profile</h1>
        <br>
        <form method='POST' action=''>
            {% csrf_token %}
            <h3>Are you sure you want to delete {{ student }} ?</h3>
            {{ form | crispy }}
            <br>
            <input class="btn btn-danger" type="submit" value='Delete' />
            <a href="{% url 'student_page' %}">
                <div class="btn btn-primary">Cancel</div>
            </a>
        </form>
    </div>
</div>
</main>

</body>

{%endblock%}