{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--
<style>
    .login-form {
        background-color: #fff;
    }

    .login-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .login-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>
-->

    <div class="breadcrumbs overlay" style="background-image:url({% static 'images/breadcrumb-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <h2>My Personal Dashboard</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="bread-list">
                        <li><a href="{% url 'student_page' %}">My Dashboard<i class="fa fa-angle-right"></i></a></li>
                        <li><a href="{% url 'account_settings' %}">Update My Profile<i class="fa fa-angle-right"></i></a></li>
                        <li><a href="{% url 'password_change' %}">Change my password<i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
                <!--
                <div class="col-md-6">
                    <form class="login-form p-4 rounded" method="post">
                        {% csrf_token %}
                        <h1 class="h4 mb-4 font-weight-bold">Change your password</h1>
                        <p>Use the form below to change your password.</p>
    
                        {% if form.errors %}
                        <div class="alert alert-primary" role="alert">
                            Error: Please try again!
                        </div>
                        {% endif %}
    
                        <label class="small font-weight-bold">{{ form.old_password.label}}</label>
                        {{ form.old_password }}
    
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
    
                        <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
                        {{ form.new_password1 }}
                        <br>
                        <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
                        {{ form.new_password2 }}
                        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 font-weight-bold" type="submit"
                            value="Change">Submit
                        </button>
                    </form>
                </div>
                -->
            <div class="container-fluid">
				<div class="container">
					<div class="row">
                        <div class="card-body">
							<div class="col-12 col-md-12 mx-auto">
								<form class="account-form p-4 rounded col-lg-10 mx-auto" action="{% url 'password_change_done' %}" method="post">
									{% csrf_token %}
                                    <p class="h3"> Change my password: </p>
                                <br>
									<div class="form-group">
										<label for="exampleInputPassword">Old Password:</label>
										{{form.old_password}}
										<small id="oldpasswordHelp" class="form-text text-muted">Enter the password you logged in with.</small>
									  </div>
									  <div class="form-group">
										<label for="exampleInputPassword">New Password:</label>
										{{form.new_password1}}
										<small id="passwordHelp" class="form-text text-muted">Should be a different password than the old one.</small>
                                        <small id="passwordHelp" class="form-text text-muted">password should have a minimum of 8 characters.</small>
									  </div>
									  <div class="form-group">
										<label for="exampleInputPassword">Confirm Password:</label>
										{{form.new_password2}}
										<small id="passwordHelp" class="form-text text-muted">Should be exact as the new password</small>
									  </div>
									  
									  <button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>

					</div>
	</div>

{%endblock%}