{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h2 class="md text-center my-2">Search Results for {{request.GET.keyword}} </h2>

</div>
<hr>

<div>
    <a class="btn btn-secondary" href="{% url 'dashboard' %}"><i class="fa fa-arrow-circle-left"
            aria-hidden="true">
            Back </i></a>
</div>

<br>
<br>

<!-- List of Items column-->
<div class="col-sm-12 text-black">
    <div class="display_table">
        <table class="table">
            <thead>
                <tr>
                    <th>COUNT</th>
                    <th>STUDENT NAME</th>
                    <th>REG NUMBER</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th>COURSE NAME </th>
                    <th>COURSE LEVEL</th>
                    <th>KNEC EXAM RESULTS</th>
                    <th>FEE STATUS</th>
                    <th>CERTIFICATE STATUS</th>
                    <th>DELETE STUDENT</th>
                </tr>
            </thead>
            {% for student in student_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{student.full_name}}</td>
                <td>{{student.reg_number}}</a></td>
                <td>{{student.phone}}</a></td>
                <td>{{student.email}}</a></td>
                <td>{{student.course_name}}</a></td>
                <td>{{student.course_level}}</td>
                <td><a href="{% url 'update_exam_results' student.id %}">{{student.results}}</a></td>
                <td><a href="{% url 'student_details' student.id %}">{{student.fee_status}}</a></td>
                <td><a href="{% url 'update_cert' student.id %}">{{student.cert_status}}</a></td>
                <td><a href="{% url 'delete_students' student.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                            class="bi bi-archive" viewBox="0 0 16 16">
                            <path
                                d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                            Delete
                        </svg>
                    </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}